* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1.5;
}

.header,
.footer {
  background-color: #1f2937;
  color: #fff;
}

.header {
  padding: 20px 0 100px 0;
}

.navbar {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  font-size: 24px;
  color: #f9faf8;
}

.navbar .nav {
  list-style-type: none;

  display: flex;
  gap: 16px;
}

.navbar a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;

  display: flex;
  gap: 100px;
}

.hero .container {
  flex: 1 1 400px;
}

.hero .img-placeholder {
  background-color: #808080;
  flex: 1 1 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  line-height: 1.2;
}

.hero button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 18px;
  padding: 8px 32px;
  margin: 8px auto;
  border: none;
  border-radius: 8px;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.2;
}

/* main */

.footer .copyright {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
